version: "3"
services:

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - LANG=es #Idioma poratl web de gesti칩n
      - PASSWORD=p4ssw0rd #Contrase침a
      - WG_DEFAULT_DNS=1.1.1.1 #IP DNS
      - WG_HOST=genbyte.duckdns.org #IP 칩 Nombre DNS
      - WG_PORT=51820 #Puerto WireGuard
    ports:
      - 51820:51820/udp #Puerto Wireguard
      - 51821:51821/tcp #Puerto Gesti칩n usuarios - UI
    restart: unless-stopped
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    volumes:
      - ./wireguard:/etc/wireguard
